name: run-python-application

on: 
  workflow_dispatch:
    inputs:
      name:
        required: true
        type: string

jobs:
  build:
    strategy:
      matrix:
        version: [3.10, 3.11, 3.12]
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    permissions:
      contents: read # access to check out code and install dependencies

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.version }}
    
    - name: Run python file 
      env:
        name: ${{ inputs.name }}  # context stored as environmental variable to prevent script injection

      # the context is placed inside quotes to prevent splitting when passed in through the command line
      run: |
        python3 hello.py "$name"
